#entity_info
  .entity_description.aat
    %h4
      %a{:href=>"http://www.getty.edu/vow/AATFullDisplay?find=#{@aat_subject.term_id}&logic=AND&note=&subjectid=#{@aat_subject.term_id}"}
        Getty Art and Architecture Thesaurus:
        = @aat_subject.preferred_term
    .description
      = @aat_subject.english_description