#vocab_nav
  .vocab_pivot
    %h4.twiddle Broader Terms
  .vocab_pivot
    %h4.twiddle Narrower Terms
  .vocab_pivot
    %h4.twiddle Distinguished from
  .vocab_pivot
    %h4.twiddle Material used/producing