- sidebar_items << image_tag("http://bgc.cloudant.com/thumbs/#{params['id']}/medium.jpg")
- sidebar2_items << capture do 
  = render :partial => 'catalog/search_form'
  = render :partial => 'auctions/lot_images'
  
=render :partial=>"catalog/_#{action_name}_partials/default", :locals=>{:document=>@document} #.merge(@locals)
    
