- sidebar_items << image_tag("http://bgc.cloudant.com/thumbs/#{params['id']}/medium.jpg")

%h3 Contents


%h3 Holdings

Online catalog: 
= link_to "Christie's", @auction.auction_house_sale_url

%h3 Images from this sale