.pagination .prev_page {
  position: relative;
}
h1.site_title {
/*  background: transparent url('../images/logo.png') no-repeat top left;*/
  background: none;
  margin: 2em 0px 0px 1em;
  height: 35px;
  width: 120px;
}